@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h4>Enter criteria:</h4>
    <form method="post">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="Douglas Barrowman" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="name">Depth</label>
                <input type="number" class="form-control" id="Depth" name="Depth" value="1" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" asp-page-handler="Submit">Submit</button>
    </form>
</div>
